html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-title{
  padding: 15px;
  display: flex;
  justify-content: center;
}

.container-title span{
  color: rgb(67, 176, 255)
}

.container-button{
  display: flex;
  justify-content: end;
}

.btn-game{
  padding: 10px 15px 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  background-color: rgb(67, 176, 255);
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.btn-game:hover{
  background-color: rgb(42, 129, 190);
}

.games-container{
  padding: 15px;
  width: 70%;
}

.game-container{
  border: solid;
  border-radius: 25px;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.principal-container-home{
  display: flex;
}

.photo-game-container{
  width: 30%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.image{
  width: 100%;
  border-radius: 25px;
}
.title-name-game{
  text-align: center;
}

.details-game-containeer{
  width: 70%;
  padding: 20px;
}

.users-game-container {
  display: flex;
}

.button-game-container{
  display: flex;
  padding: 10px;
}

.button-game-container button{
    background-color: rgb(67, 176, 255);
    border: none;
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.gamers-container{
  width: 25%;
  border: solid;
  padding: 15px;
  border-radius: 25px;
  margin: 15px;
}

.close-btn-container{
  display: flex;
  justify-content: end;
}

.close-btn-container button{
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  background-color: transparent;
}

.gamer-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(67, 176, 255);
  margin-top: 15px;
  border-radius: 25px;
  font-size: 20px;
}

.add-gamer-btn{
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  cursor: pointer;

}

.principal-game-container{
  padding: 10px;
}

.title-principal-game-container{
  display: flex;
  justify-content: center;
}

.btn-cerrar-game{
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}

.btn-cerrar-game button{
  border: none;
  background-color: rgb(179, 1, 1);
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cerrar-game button:hover{
  background-color: rgb(227, 20, 20);
}

.gamers-game-container{
  width: 30%;
}

.gamer-game-container{
  padding: 15px;
  color: white;
  display: flex;
  margin-bottom: 5px;
  border-radius: 10px;
}

.image-gamer-container{
  width: 20%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.text-container-gamer{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-title{
  font-weight: 700;
  font-size: 18px;
}

.board-container{
  width: 65%;
  display: flex;
  justify-content: center;
}

.table-gamers-container{
  display:  flex;
}

.board{
  width: 65%;
  height: 0;
  padding-top: 65%;
  border-collapse: collapse;
  margin-bottom: 25px;
}

.celda{
  width: 31px;
  height: 31px;
}

.red{
  background-color: #ff324e;
}

.yellow{
  background-color: #e7cb00;
}

.jug{
  border: solid;
}

.green{
  background-color: #37bc00;
}

.blue{
  background-color: #007fe3;
}

.block{
  background-color: rgb(176, 176, 176);
}

.yellow-red{
  background: linear-gradient(to bottom left, #e7cb00 50%, #ff324e 50%);
}

.yellow-green{
  background: linear-gradient(to bottom right, #e7cb00 50%, #37bc00 50%);
}

.red-blue{
  background: linear-gradient(to bottom right, #ff324e 50%, #007fe3 50%);
}

.blue-green{
  background: linear-gradient(to top right, #007fe3 50%, #37bc00 50%);
}


@media (prefers-color-scheme: dark) {
  
  body {
    color: black;
    background: white;
  }
}

